In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from import_process_dataset import check_dataset_availability, DATASET_DIR

import pandas as pd
import os

In [23]:
from import_process_dataset import *
info = {}
for name, imported in [('adult', import_process_adult()),\
                       ('bank (full)', import_process_bank_full()),
                       ('compas', import_compas()),\
                       ('folks', import_folkstables()), \
                       ('german', import_process_german()), \
                       ('online_shopper', import_process_online_shoppers_intention()),\
                       ('synthetic-peak', generate_artificial_gaussian_error()),\
                       ('wine', import_process_wine()) 
                      ]:
    df, target, continuous_attributes = imported
    print(name)
    cols = list(df.columns)
    if type(target) == dict:
        cols.remove('class')
    else:
        cols.remove(target)
    if name == 'synthetic-peak' or name == 'compas':
        cols.remove('predicted')
    info[name] = [df.shape[0], len(cols), len(continuous_attributes), len(cols)-len(continuous_attributes)]

adult
bank (full)
compas
folks
german
online_shopper
synthetic-peak
wine

In [24]:
import pandas as pd

info_df = pd.DataFrame(info).T

info_df.columns = ['#instances', '#attribute', '#numerical', '#nominal']

In [25]:
info_df

                #instances  #attribute  #numerical  #nominal
adult                45222          11           4         7
bank (full)          45211          15           7         8
compas                6172           6           3         3
folks               195556          10           2         8
german                1000          21           7        14
online_shopper       12330          17          11         6
synthetic-peak       10000           3           3         0
wine                  9796          11          11         0